/* Upper half page with blue image and lower half page with almond color	*/

.main {
    background: rgb(135, 206, 235) url(images/header_bg.gif) repeat-x center top;
}


/*Bank's name as heading*/

h1 {
    margin: 0;
    padding: 24px 40px;
    color: #fff;
    font: bold 46px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing: -3px;
}


/*Bank's tagline in small size*/

h1 small {
    display: block;
    margin-top: -4px;
    padding-left: 104px;
    font: normal 16px/1.2em Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    color: #fff;
}


/*span characters of h1 in pink color (Bank's name)*/

h1 span {
    color: #96088a;
}


/*Paragraph tag properties*/

p {
    margin: 8px 0;
    padding: 0 0 8px 0;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}


/*Remove the underlines for anchor tag*/

a {
    text-decoration: none;
}


/*Header contents at proper place*/

.header_resize {
    margin: 0 auto;
    padding: 0;
    width: 970px;
}


/*Blank navigation bar with pos*/

.menu_nav {
    margin: 0 auto auto;
    padding: 0 auto;
    height: 42px;
    background-color: #49677a;
    border: 2px solid #97cbed;
}


/*Navigation bar without bullets*/

.menu_nav ul {
    list-style: none;
    padding: 0;
    height: 42px;
    float: left;
    border-left: 1px solid #6dcbff;
}

.container {
    list-style: none;
    padding: 0;
    height: 42px;
    float: left;
    border-left: 1px solid #6dcbff;
}


/*Navigation bar inside navbar*/

.menu_nav ul li {
    margin: 0;
    padding: 0;
    float: left;
    border-right: 1px solid #6dcbff;
}


/*Navigation bar props*/

.menu_nav ul li a {
    display: block;
    margin: 0;
    padding: 10px 24px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}


/*Block hovering effect in navigation bar*/

.menu_nav ul li.active a,
.menu_nav ul li a:hover {
    color: #fff;
    background-color: #48beff;
}


/*Page content in the mid*/

.content_resize {
    margin: 0 auto;
    padding: 0 0 25%;
    width: 72%;
    background-color: #fff;
}


/*Content in the left division*/

.content .mainbar {
    margin: 0;
    padding: 0;
    float: left;
    width: 70%;
}


/*Content on the left - image with border*/

.content .mainbar img {
    border: 1px solid #e3e5e2;
    padding: 4px;
    background-color: rgb(201, 86, 86);
}


/*Left content - Text to the side of image*/

.content .mainbar img.fl {
    margin: 4px 16px 4px 0;
    float: left;
}


/*Left Content  margin & padding*/

.content .mainbar .article {
    margin: 0 0 12px;
    padding: 8px 24px 0 24px;
}


/*Quick Links on the right of content*/

.content .sidebar {
    padding: 0;
    float: left;
    width: 288px;
}


/*Space between quick links*/

ul.sb_menu li {
    padding: 4px 0;
    width: 220px;
}


/*Tick mark symbols for quick links*/

ul.sb_menu li a,
ul.ex_menu li a {
    color: #959595;
    text-decoration: none;
    margin-left: -16px;
    padding: 4px 8px 4px 16px;
    background: url(images/li.gif) no-repeat left center;
}


/*Hover effect for quick links*/

ul.sb_menu li a:hover,
ul.ex_menu li a:hover {
    color: #2cadff;
    font-weight: bold;
    text-decoration: none;
}


/*Properties for page no.*/

.fbg_resize {
    margin: 0 auto;
    width: 922px;
    padding: 24px 24px 12px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}


/**/

#funds td,
#funds th {
    border: 1px solid #ddd;
    padding: 8px;
}

#funds th {
    text-align: left;
    background-color: #48beff;
    color: white;
}

.footer_resize {
    margin: 0 auto;
    padding: 12px 24px;
    width: 922px;
}

.footer p {
    margin: 0;
    padding: 4px 0;
    line-height: normal;
}

.footer a {
    color: #959595;
    padding: inherit;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: none;
}

.footer .lf {
    float: left;
}

.footer .rf {
    float: right;
}

ol {
    list-style: none;
}

ol li {
    display: block;
    clear: both;
}

ol li label {
    display: block;
    margin: 0;
    padding: 16px 0 0 0;
}

ol li input.text {
    width: 480px;
    border: 1px solid #c0c0c0;
    margin: 0;
    padding: 5px 2px;
    height: 16px;
    background-color: #fff;
}

ol li textarea {
    width: 480px;
    border: 1px solid #c0c0c0;
    margin: 0;
    padding: 2px;
    background-color: #fff;
}

ol li .send {
    margin: 16px 0 0 0;
}

.searchform {
    float: right;
    padding: 0;
}

#formsearch {
    margin: 0;
    height: 36px;
    padding: 3px 0 0;
    width: 232px;
}

#formsearch span {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    background: url(images/search.gif) no-repeat top left;
}

#formsearch input.editbox_search {
    margin: 0;
    padding: 11px 6px 10px;
    float: left;
    width: 181px;
    border: none;
    background: none;
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
    color: #a8acb2;
}

#formsearch input.button_search {
    margin: 0;
    padding: 0;
    border: none;
    float: left;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #959595;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}

html,
.main {
    padding: 0;
    margin: 0;
}

.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0;
    line-height: 0;
}

.logo {
    padding: 0;
    width: auto;
}

h1 a,
h1 a:hover {
    color: #fff;
    text-decoration: none;
}

h2 {
    font: normal 24px/1.5em Arial, Helvetica, sans-serif;
    padding: 8px 0;
    margin: 8px 0;
    color: #595959;
}

p {
    margin: 8px 0;
    padding: 0 0 8px 0;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
}

a {
    color: #58079b;
    text-decoration: none;
}

a.rm {}

a.com {
    text-decoration: none;
    color: #959595;
}

a.com span {
    color: #2cadff;
    font-weight: bold;
}

.header,
.content,
.menu_nav,
.fbg,
.footer,
form,
ol,
ol li,
ul,
.content .mainbar,
.content .sidebar {
    margin: 0;
    padding: 0;
}

img.hbg_img {
    margin: 0 0 8px;
    padding: 7px;
}

.content .sidebar .gadget {
    margin: 0 0 12px;
    padding: 8px 16px 8px 24px;
}

ul.sb_menu,
ul.ex_menu {
    margin: 0;
    padding: 0 0 0 16px;
    list-style: none;
    color: #959595;
}

ul.sb_menu li,
ul.ex_menu li {
    margin: 0;
}

ul.ex_menu li {
    padding: 4px 0;
}